<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="bhushandhande.Mavenjava4.SeleniumTest"/>
      <class name="bhushandhande.Mavenjava4.AppiumTest"/>
      <class name="bhushandhande.Mavenjava4.AppTest"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
